@font-face {
    font-family: "Cabin";
    src: url("fonts/Cabin-VariableFont_wdth.ttf");
}
@font-face {
    font-family: "Cabin Condensed";
    src: url("fonts/CabinCondensed-Medium.ttf");
}
@font-face {
    font-family: "Saatliches";
    src: url("fonts/Staatliches-Regular.ttf");
}
body {
    background-color:var(--strong-back);
}


/* the primary page wrapper */
.wrap {
    transition: width .1s ease-in-out;
    margin: 5% 20% 5% 20%;
    /* margin-bottom: var(--warp-margin-right) var(--warp-margin-bottom) var(--warp-margin-right); */
    /* margin-left: 10%; */
    padding: 0% 5% 0% 5%;
    /* padding-left: 10%; */
    background-color:var(--off-strong-back);
    font-size:12px;
    font-family: "Cabin";
    
    border-style: solid none none none;
    border-color:var(--line);
    border-width: 15px;
}

/* The primary section */
.section {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    
    /* line separators */
    border-style: none none solid none;
    border-color:gainsboro;
    border-width: 1px;
    
    padding:1em 0 1em 0;
}

.header {
    width:30%
}
.content {
    flex-grow:1;
    /* max-width:60%; */
    
    min-width: 300px;
    width:70%;
    font-family: "Cabin";
    padding: 2em 0 2em 0;
    color: var(--text); 
}

strong {
    font-weight:bold;
}
h1 {
    color:var(--strong-text);
}
h2 {
    color:var(--slight-strong-text);
}
a {
    color:var(--link);
}
a:hover {
    text-decoration: none;
}

.dark-mode-toggle {
    background-color: var(--strong-text);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 16px;
    bottom: 16px;
    position: fixed;
    box-shadow: 0px 5px 25px var(--shadow);
    cursor:pointer;
    padding:0;
    border-color:transparent;
    outline:none;
}
.dark-mode-toggle svg { 
    width: 100%; 
    height: 100%; 
}

/* globalish font settings */
.header h1 {
    font-family: 'Cabin Condensed';
    font-size:2em;
    /* margin-bottom: 1em; */
}
.header h2 {
    font-family: 'Cabin Condensed';
    font-size:1.8em;
    padding-left:1em;
    /* color:var(--slight-strong-text); */
}

/* section specific overrides */
#headline h1, #headline h2 {
    font-family: 'Saatliches';
}
#headline h1 {
    font-size: 4em;
    margin-bottom:0px;
}
#headline h2 {
    font-size: 2.5em;
    margin-top:0px;
    color:var(--slight-strong-text)
}

#headline .header {
    padding-top:1.5em;
}

#headline .header p {
    text-align: center;
    margin-bottom:1em;
    color: var(--text); 
}

#headline .header button {
    /* margin-right:50%;
    margin-left:50%; */
    display:inline;
}

a#pdf { 
    display: block; 
    /* float: left;  */
    background: var(--line); 
    color: var(--strong-back); 
    padding: 6px 12px 6px 12px; 
    margin:10px;
    /* margin-bottom: 6px;  */
    text-decoration: none;
}
a#pdf:hover { 
    background: var(--slight-strong-text); 
}

#intro p {
    padding-right:20%;
    color: var(--slight-strong-text);
    font-size: 1.4em;
}

#education .content h1 {
    /* font-family: "Cabin"; */
    font-size:1.5em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-bottom:0.2em;
}
#education .content h3 {
    /* font-family: "Cabin"; */
    font-size:1em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-bottom:0.2em;
}
#education .content h4 {
    /* font-family: "Cabin"; */
    font-size:0.8em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-bottom:0.2em;
}
#education .content h2 {
    /* font-family: "Cabin"; */
    font-size:1em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-bottom:0.4em;
    
    font-style: italic;
    font-size:0.8em;
}
.school {
    margin-bottom: 2em;
}
table {
    /* width:100%; */
    border-collapse: collapse;
    margin-top:0.3em;
}
tr {
    border-style: none none solid none;
    border-color:gainsboro;
    border-width: 1px;
}
td {
    color:var(--slight-strong-text);
    font-weight: normal;
    /* font-size: 0.7em; */
    text-align: left;
    /* margin-right: 1em; */
    padding: 0.3em 1em 0.3em 0;
}
caption {
    color:var(--slight-strong-text);
    text-align:left;
    padding-bottom:0.2em;
    /* font-size: 0.9em; */
}
li {
    color:var(--slight-strong-text);
    border-style: none none solid none;
    border-color:gainsboro;
    border-width: 1px;
    font-size:1.3em;
    
    padding: 0.3em 0 0.3em 0;
}

.job h1 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}
.job h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.job {
    padding:0.5em;
}

/* #education .content h3 {
    font-size:1em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-top:0.2em;
} */
#extracurricular .content h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top:0.7em;
}
#extracurricular h2 {
    font-size: 1.2em;
    padding-top:0.5em;
}
#extracurricular p {
    padding-top:0.2em;
    font-size: 1em;
}

#footer {
    text-align: center;
    color:var(--light-text)
}

.at {
    font-family:Arial, Helvetica, sans-serif
}










.last {
    border-style: none none none none;
    margin-bottom: 0;
}
.right {
    text-align: right;
    float: right;
}
.flex {
    display:flex;
    flex-wrap:row;
}

div,h1,h2,h3,h4,p,td,caption,body {
    transition: color .1s ease-in-out;
}

.light {
    /* transition: all .1s ease-in-out; */
    --strong-back:#fff;
    --off-strong-back:#f5f5f5;
    --light-back:#ccc;
    --line:#666;
    --light-text:#444;
    --text:#333;
    --slight-strong-text:#222;
    --strong-text:#000;
    --link:#090;
    --shadow:rgba(0, 0, 0, 1);
}

.dark {
	--strong-back:#000;
	--off-strong-back:#111;
	--light-back:#bbb;
	--line:#aaa;
	--light-text:#bbb;
	--text:#ccc;
	--slight-strong-text:#ddd;
	--strong-text:#fff;
	--link:#5c5;
	--shadow:rgba(255, 255, 255, 0.3);
}

@media print {
    button {
        visibility: hidden;
    }
    .wrap {
        margin: 10%;
        padding: 0;
    }
    .pagebreak { page-break-before: always; }
    .spacer {
        padding-bottom: 5%;
    }
}


* {
    --wrap-margin-top: 5%;
    --wrap-margin-right: 20%;
    --wrap-margin-bottom: 5%;
    --wrap-margin-left: 20%;
}

/* Minimum aspect ratio */
@media (max-width: 1300px) {
    .wrap {
        margin: 5% 10% 5% 10%;

    }
@media (max-width: 800px) {
    .wrap {
        margin: 3% 3% 3% 3%;
    }
    #intro p {
        padding-right: 5%;
        padding-left: 5%;
    }
}
}
  
  /* Maximum aspect ratio */
@media (max-aspect-ratio: 3/2) {
}
  
  /* Exact aspect ratio, put it at the bottom to avoid override*/
@media (aspect-ratio: 1/1) {
}