@font-face {
    font-family: "Cabin";
    src: url("/fonts/Cabin-VariableFont_wdth.ttf");
}
@font-face {
    font-family: "Cabin Condensed";
    src: url("/fonts/CabinCondensed-Medium.ttf");
}
@font-face {
    font-family: "Saatliches";
    src: url("/fonts/Staatliches-Regular.ttf");
}
/* the primary page wrapper */
.wrap {
    margin-right: 10%;
    margin-left: 10%;
    padding-right: 10%;
    padding-left: 10%;
    background-color:antiquewhite;
    font-size:12px;
    font-family: "Cabin";
}

/* The primary section */
.section {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: left;
    
    /* line separators */
    border-style: none none solid none;
    border-color:gainsboro;
    border-width: 1px;
    
    padding:1em 0 1em 0;
}

.header {
    width:30%
}
.content {
    flex-grow:1;
    /* max-width:60%; */
    min-width: 300px;
    width:70%;
    font-family: "Cabin";
}



/* globalish font settings */
.header h1 {
    font-family: 'Cabin Condensed';
}

/* section specific overrides */
#headline h1, #headline h2 {
    font-family: 'Saatliches';
}
#headline h1 {
    font-size: 4em;
    margin-bottom:0px;
}
#headline h2 {
    font-size: 2.5em;
    margin-top:0px
}


#intro p {
    padding-right:20%;
}

#education .content h1 {
    /* font-family: "Cabin"; */
    font-size:1em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-bottom:0.2em;
}
#education .content h3 {
    /* font-family: "Cabin"; */
    font-size:0.8em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-bottom:0.2em;
}
#education .content h2 {
    /* font-family: "Cabin"; */
    font-size:1em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-bottom:0.4em;
    
    font-style: italic;
    font-size:0.8em;
}
.school {
    margin-bottom: 2em;
}
table {
    /* width:100%; */
    border-collapse: collapse;
    margin-top:0.3em;
}
tr {
    border-style: none none solid none;
    border-color:gainsboro;
    border-width: 1px;
}
td {
    font-weight: normal;
    /* font-size: 0.7em; */
    text-align: left;
    /* margin-right: 1em; */
}
caption {
    text-align:left;
    padding-bottom:0.2em;
    /* font-size: 0.9em; */
}
/* #education .content h3 {
    font-size:1em;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight:normal;
    padding-top:0.2em;
} */













.last {
    border-style: none none none none;
    margin-bottom: 0;
}
.right {
    text-align: right;
    float: right;
}